body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url('/background.png');
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.geogebra-applet {
    display: none;
}

.marker {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-left: -100px;
    font-size: 0.65em;
}

.marker .value {
    background: #61dafb;
    flex: none;
    padding: 1px 3px;
    border-radius: 2px;
}

.mathfield {

}

.mathfield-with-classes {
    position: absolute;
    top: 0;
    visibility: hidden;
}

.mathfield .hidden {
    display: none;
}

.math {
    flex: none;
    padding: 10px 30px;
    align-self: center;
}

.formula-container {
    position: relative;
}

.formula {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.formula input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.constants-container {
    position: absolute;
    right: 50px;
    top: 300px;
}

.parameters-container {
    position: absolute;
    left: 50px;
    top: 300px;
}

.parameter, .constant {
    /*border: 1px solid #999;*/
    /*background: rgba(255, 255, 255, 1);*/
    /*border-radius: 4px;*/
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.parameter .name {
    width: 20px;
    padding: 0 8px;
}
.constant .name {
    padding: 0 8px;
}

.parameter input, .constant input {
    border: none;
    border-left: 1px solid #999;
    padding: 5px;
    border-radius: 0 4px 4px 0;
    width: 70px;
}

.node {
    position: absolute;
    /*border: 1px solid #999;*/
    /*background: rgba(255, 255, 255, 1);*/
    /*border-radius: 10px;*/
    display: flex;
    padding: 5px 0;
}

.node .error {
    color: red;
    display: none;
}

.pin-container {
    flex: none;
}

.pin {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.pin-left {
    margin-left: -8px;
}

.pin-right {
    margin-right: -8px;
}

.pin .connector {
    width: 12px;
    height: 12px;
    border: 1px solid #999;
    background: #FFF;
    border-radius: 6px;
}

.pin-left .connector {
    margin-right: 10px;
}

.pin-right .connector {
    margin-left: 10px;
}

.pin .name {

}

.mq-editable-field, .mq-math-mode .mq-editable-field {
    border: none;
}

.mq-editable-field.mq-focused {
    box-shadow: none;
    border: none;
}

/*.mq-editable-field.mq-focused,*/
/*.mq-math-mode .mq-editable-field.mq-focused {*/
    /*border: none !important;*/
    /*border-width: 0 !important;*/
    /*border-color: red !important;*/
/*}*/
/*.mq-editable-field .mq-latex-command-input.mq-hasCursor {*/
    /*border: none !important;*/
    /*border-width: 0 !important;*/
    /*border-color: red !important;*/
/*}*/

.mq-math-mode .mq-supsub .mq-sub, .mq-math-mode .mq-supsub .mq-sup {
    font-size: 65%;
}